In [1]:
import pickle
import pandas as pd
# Specify the path to your .pkl file
file_path = "C:/Users/Utente/Desktop/Climbing_pj/df_all.pkl"

# Open the .pkl file for reading in binary mode
with open(file_path, "rb") as file:
    # Load the data from the .pkl file
    df_all = pickle.load(file)

In [2]:
df_all.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49598 entries, 0 to 49597
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_user         49598 non-null  int64
 1   is_female       49598 non-null  int64
 2   height          49598 non-null  int64
 3   weight          49598 non-null  int64
 4   is_bouldering   49598 non-null  int64
 5   index_grade     49598 non-null  int64
 6   age             31342 non-null  float64
 7   years_climbing  36110 non-null  float64
dtypes: float64(2), int64(6)
memory usage: 3.0 MB

In [3]:
df_all.head(10)

,id_user,is_female,height,weight,is_bouldering,index_grade,age,years_climbing
0,1,0,177,73,0,59,25.0,5.0
1,1,0,177,73,1,49,26.0,6.0
2,2,0,0,0,0,47,NaN,1.0
3,2,0,0,0,1,45,NaN,1.0
4,3,0,180,78,0,59,26.0,4.0
5,3,0,180,78,1,53,28.0,6.0
6,4,1,165,58,0,61,24.0,7.0
7,4,1,165,58,1,41,22.0,5.0
8,5,0,0,0,1,55,37.0,15.0
9,6,0,185,73,1,61,31.0,9.0

In [4]:
df = df_all.loc[(df_all.index_grade>27) & (df_all.index_grade<72) & 
                (df_all.weight >= 40) & (df_all.weight <= 100) &
                (df_all.height >= 140) & (df_all.height <= 230)&
                (df_all.age >= 10) & (df_all.age <= 60)&
                (df_all.years_climbing >= 0) & (df_all.years_climbing <= 40)]

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21290 entries, 0 to 49596
Data columns (total 8 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id_user         21290 non-null  int64
 1   is_female       21290 non-null  int64
 2   height          21290 non-null  int64
 3   weight          21290 non-null  int64
 4   is_bouldering   21290 non-null  int64
 5   index_grade     21290 non-null  int64
 6   age             21290 non-null  float64
 7   years_climbing  21290 non-null  float64
dtypes: float64(2), int64(6)
memory usage: 1.5 MB

In [6]:
fake_grades = ['-', '1', '1+', '1a', '1b', '1c', '2', '2+', '2a', '2b', '2c', '3', '3+', '3a', '3a+', '3b', '3b+', '3c', '3c+', '4', '4+', '4a', '4a+', '4b', '4b+', '4c', '4c+', '5', '5a', '5a+', '5b', '5b+', '5c', '5c+', '6', '6a', '6a+', '6a+/6b', '6a/+', '6b', '6b+', '6b+/6c', '6b/+', '6c', '6c+', '6c+/7a', '6c/+', '7a', '7a+', '7a+/7b', '7a/+', '7b', '7b+', '7b+/7c', '7b/+', '7c', '7c+', '7c+/8a', '7c/+', '8a', '8a+', '8a+/8b', '8a/+', '8b', '8b+', '8b+/8c', '8b/+', '8c', '8c+', '8c+/9a', '8c/+', '9a', '9a+', '9a+/9b', '9a/+', '9b', '9b+', '9b+/9c', '9b/+', '9c', '9c+', '9c+/10a', '9c/+']
real_grades = ['5a', '5b', '5c', '6a', '6a+', '6b', '6b+', '6c', '6c+', '7a', '7a+', '7b', '7b+', '7c', '7c+', '8a','8a+', '8b','8b+','8c','8c+']

In [7]:
grade_map = {}
for i in range(83):
    grade_map[i] = fake_grades[i]
grade_map

{0: '-',
 1: '1',
 2: '1+',
 3: '1a',
 4: '1b',
 5: '1c',
 6: '2',
 7: '2+',
 8: '2a',
 9: '2b',
 10: '2c',
 11: '3',
 12: '3+',
 13: '3a',
 14: '3a+',
 15: '3b',
 16: '3b+',
 17: '3c',
 18: '3c+',
 19: '4',
 20: '4+',
 21: '4a',
 22: '4a+',
 23: '4b',
 24: '4b+',
 25: '4c',
 26: '4c+',
 27: '5',
 28: '5a',
 29: '5a+',
 30: '5b',
 31: '5b+',
 32: '5c',
 33: '5c+',
 34: '6',
 35: '6a',
 36: '6a+',
 37: '6a+/6b',
 38: '6a/+',
 39: '6b',
 40: '6b+',
 41: '6b+/6c',
 42: '6b/+',
 43: '6c',
 44: '6c+',
 45: '6c+/7a',
 46: '6c/+',
 47: '7a',
 48: '7a+',
 49: '7a+/7b',
 50: '7a/+',
 51: '7b',
 52: '7b+',
 53: '7b+/7c',
 54: '7b/+',
 55: '7c',
 56: '7c+',
 57: '7c+/8a',
 58: '7c/+',
 59: '8a',
 60: '8a+',
 61: '8a+/8b',
 62: '8a/+',
 63: '8b',
 64: '8b+',
 65: '8b+/8c',
 66: '8b/+',
 67: '8c',
 68: '8c+',
 69: '8c+/9a',
 70: '8c/+',
 71: '9a',
 72: '9a+',
 73: '9a+/9b',
 74: '9a/+',
 75: '9b',
 76: '9b+',
 77: '9b+/9c',
 78: '9b/+',
 79: '9c',
 80: '9c+',
 81: '9c+/10a',
 82: '9c/+'}

In [8]:
map_real_grade = {
 1: 4,
 2: 4,
 3: 4,
 4: 'beginner',
 5: 'beginner',
 6: 'beginner',
 7: 'beginner',
 8: 'beginner',
 9: 'beginner',
 10: 'beginner',
 11: 'beginner',
 12: 'beginner',
 13: 'beginner',
 14: 'beginner',
 15: 'beginner',
 16: 'beginner',
 17: 'beginner',
 18: 'beginner',
 19: 'beginner',
 20: 'beginner',
 21: 'beginner',
 22: 'beginner',
 23: 'beginner',
 24: 'beginner',
 25: 'beginner',
 26: 'beginner',
 27: 'beginner',
 28: 'beginner',
 29: 'beginner',
 30: 'beginner',
 31: 'beginner',
 32: 'beginner',
 33: 'beginner',
 34: 'beginner',
 35: 'beginner',
 36: 'beginner',
 37: 'beginner',
 38: 'beginner',
 39: 'beginner',
 40: 'intermediate',
 41: 'intermediate',
 42: 'intermediate',
 43: 'intermediate',
 44: 'intermediate',
 45: 'intermediate',
 46: 'intermediate',
 47: 'intermediate',
 48: 'intermediate',
 49: 'intermediate',
 50: 'intermediate',
 51: 'intermediate',
 52: 'intermediate',
 53: 'intermediate',
 54: 'intermediate',
 55: 'advanced',
 56: 'advanced',
 57: 'advanced',
 58: 'advanced',
 59: 'advanced',
 60: 'advanced',
 61: 'advanced',
 62: 'advanced',
 63: 'advanced',
 64: 'advanced',
 65: 'pro',
 66: 'pro',
 67: 'pro',
 68: 'pro',
 69: 'pro',
 70: 'pro',
 71: 'pro',
 72: 'pro',
 73: 'pro',
 74: 'pro',
 75: 'pro',
 76: 'pro',
 77: 'pro',
 78: 'pro',
 79: 'pro',
 80: 'pro'}

In [9]:
df['max_climbing_grade'] = df['index_grade'].map(map_real_grade)

C:\Users\Utente\AppData\Local\Temp\ipykernel_3100\1318022810.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['max_climbing_grade'] = df['index_grade'].map(map_real_grade)

In [10]:
df['BMI'] = df['weight']/(df['height']/100)**2

C:\Users\Utente\AppData\Local\Temp\ipykernel_3100\3850990351.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BMI'] = df['weight']/(df['height']/100)**2

In [11]:
order = ['is_female','is_bouldering','height','weight','BMI',
         'age','years_climbing','max_climbing_grade']
df = df[order]
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 21290 entries, 0 to 49596
Data columns (total 8 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   is_female           21290 non-null  int64
 1   is_bouldering       21290 non-null  int64
 2   height              21290 non-null  int64
 3   weight              21290 non-null  int64
 4   BMI                 21290 non-null  float64
 5   age                 21290 non-null  float64
 6   years_climbing      21290 non-null  float64
 7   max_climbing_grade  21290 non-null  object
dtypes: float64(3), int64(4), object(1)
memory usage: 1.5+ MB

In [12]:
from sklearn.preprocessing import StandardScaler
col_to_std = ['height','weight','BMI','age','years_climbing']

In [13]:
scaler = StandardScaler()
df[col_to_std] = scaler.fit_transform(df[col_to_std])

In [14]:
df.to_csv("C:/Users/Utente/Desktop/Climbing_pj/df_ready_std.csv",index = False)